.profileLarge {
    width: 40%;
    max-width: 200px;
    font-size: 120px;
    display: grid;
    place-items: center;
    text-align: center;
    border: 1px solid var(--softwhite);
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
}
.profileLarge img {
    width: 100%;
}
.alignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3vh;
    gap: 1rem;
}
.connectionsBox {
    display: flex;
    width: 80%;
    border: 1px solid var(--lighter-50);
    padding: 0 1rem 0.5rem;
    border-radius: 100ch;
    justify-content: center;
    flex-wrap: wrap;
}
.connectionPreview {
    background-size: cover;
    background-position: center;
    background-color: var(--yellow);
    border: 1px solid var(--softwhite);
    color: var(--jet);
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: end;
    font-size: x-small;
    padding-bottom: 0.5rem;
    overflow: hidden;
    flex: 0 1 40px;
    margin-left: -1rem;
    translate: 0.5rem;
}
.connectionsHeader,
.connectionsFooter {
    flex: 100%;
    text-align: center;
    margin: 0.2rem auto;
}
.connectionsHeader {
    font-size: small;
}
.connectionsFooter {
    font-size: x-large;
    margin: 0;
}
.connectButton {
    width: 8rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--yellow);
    color: var(--jet);
    border-radius: 100ch;
    border: none;
}