#dropNew {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    translate: -50%;
    width: 5rem;
    aspect-ratio: 1;
    outline: 4px solid var(--jet);
    border: 2px solid var(--yellow);
    background-color: var(--teal);
    box-shadow: 0 0 20px black;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--softwhite);
}