#root {
    display: grid;
    grid-template-rows: 4rem calc(100vh - 4rem);
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    overflow: hidden;
    margin: auto;
}
#root > section,
header {
    position: relative;
}
#root > article {
    position: relative;
    width: 90vw;
    height: 85vh;
    outline: 1px solid var(--lighter-25);
    border-radius: 0.5rem;
    margin: auto;
}
.gridCenter {
    display: grid;
    place-items: center;
    text-align: center;
}