:root {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  background-color: var(--jet);
  color: var(--softwhite);

  --jet: #201d28;
  --jetlight: #282a38;
  --yellow: #FFC857;
  --yellow-25: #FFC85755;
  --yellow-50: #FFC85788;
  --teal: #107e7dff;
  --teal-50: #107e7d88;
  --poolside: #45F0DF;
  --poolside-50: #45F0DF88;
  --lighter-25: #ffffff55;
  --lighter-50: #ffffff88;
  --lighter-75: #ffffffcc;
  --darker-25: #00000055;
  --darker-50: #00000088;
  --darker-75: #000000cc;
  --softwhite: #f0f2f4;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}