.leaflet-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    z-index: -1;
}
.leaflet-tile-pane {
    filter: invert(10%);
    position: relative;
}
.leaflet-tile-pane::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--teal-50);
    z-index: 100;
}