#navbar {
    position: fixed;
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    height: 4rem;
    display: flex;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--jetlight);
    z-index: 2000;
}
#navBar a,
.leftNav a,
.rightNav a,
#hiddenMenu a {
    color: var(--softwhite);
    text-decoration: none;
    display: block;
}
.leftNav {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: large;
}
.leftNav img {
    height: 100%;
}
.leftNav h1 {
    margin: 0;
    display: inline-block;
    font-size: 2rem;
}
.rightNav {
    display: flex;
    gap: 0.5rem;
}
#helloUser {
    display: grid;
    align-content: center;
    justify-items: center;
    font-size: medium;
    padding-top: 0.3rem;
    color: var(--lighter-75)
}
#menuToggle {
    background: transparent;
    color: var(--softwhite);
    border: 1px solid var(--lighter-50);
    box-shadow: 0 0 0.2rem var(--darker-25);
    width: 3rem;
    border-radius: 0.25rem;
    font-size: larger;
    cursor: pointer;
}
#hiddenMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--jet);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
    border: none;
}
#hiddenMenu.expanded {
    max-height: 400px;
    transition: max-height 0.3s;
    border-bottom: 4px solid var(--jetlight);
}
#hiddenMenu li {
    display: block;
    text-align: center;
    font-size: large;
    padding: 1rem;
    margin: 0.25rem 0;
    cursor: pointer;
    background-color: var(--darker-25);
}
#hiddenMenu li:hover,
#menuToggle:active,
#menuToggle:has(~ .expanded) {
    background-color: var(--teal-50);
    color: var(--yellow)
}