#dropNew {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    translate: -50%;
    width: 5rem;
    aspect-ratio: 1;
    outline: 4px solid var(--jet);
    border: 2px solid var(--poolside);
    background-color: var(--teal);
    box-shadow: 0 0 20px black;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--softwhite);
}
#dropNew.open {
    background-color: var(--jet);
    border-top: none;
    border-left: none;
    border-right: none;
}

#recordingInterface {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50%;
    height: 50vh;
    width: 90vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--teal);
    transition: all 0.5s;
    padding: 2rem;
    gap: 2rem;
}
#recordingInterface.collapsed {
    max-width: 0;
    max-height: 0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    transition: all 0.5s;
}
#recordingInterface.expanded {
    max-width: 400px;
    max-height: 1000px;
    transition: all 0.5s;
    border-bottom-left-radius: 50vw;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 50vw;
    border-top-right-radius: 1rem;
}
#postRecording {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 1rem;
}
#postRecording label {
    flex: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: right;
    gap: 0.5rem;
}
#dropRecording,
#deleteRecording {
    width: 6rem;
    height: 2rem;
    border: 1px solid var(--softwhite);
    background: transparent;
    color: var(--yellow);
}
#recordStart {
    color: var(--softwhite);
    background-color: transparent;
    border-radius: 50%;
    padding: 1rem;
    width: 6rem;
    aspect-ratio: 1;
    border: 1px solid var(--softwhite);
    font-size: 3rem;
}

#recordStart.recording {
    background-color: red;
}